.body_col{
    background-color: #756bee !important;
}
.text_col{
    color: #756bee !important;
}
.first_part{
    background-attachment: scroll;
    background-image: url(./assets/dots.png);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: contain;
}
.seventh_part{
    background-attachment: scroll;
    background-image: url(./assets/background_part7.png);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
}